:root { 
--cyan_A400:#00f2ea; 
--blue_gray_100_00:#d9d9d900; 
--red_800:#c5221f; 
--amber_500_01:#fbbc04; 
--red_300:#f37168; 
--blue_A200:#5e94ff; 
--red_500:#eb4335; 
--light_blue_400:#26a6fe; 
--black_900_3f:#0000003f; 
--green_600:#34a853; 
--teal_200:#67c4ce; 
--amber_A400:#fac600; 
--teal_400:#2d8890; 
--blue_200_00:#9bd6e800; 
--teal_300:#46cc8d; 
--black_900_01:#040a1d; 
--black_900:#000000; 
--blue_A200_02:#4285f4; 
--blue_A200_01:#5485e5; 
--pink_A400:#ff004f; 
--blue_gray_800:#2f4858; 
--red_A700:#ff0000; 
--blue_gray_100:#d9d9d9; 
--orange_A200:#eda64c; 
--amber_500:#fbbc05; 
--gray_800:#4f4f4f; 
--gray_300:#e5dada; 
--orange_200:#f4b96d; 
--blue_50:#e7f3fe; 
--orange_50:#fef2de; 
--orange_A200_2b:#eda64c2b; 
--white_A700:#ffffff; 
--blue_200_6b:#9bd6e86b; 
--red_500_01:#ea4335; 
--indigo_600:#3d5a98; 
}