
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/LeagueSpartanMedium.ttf"); font-family : "League Spartan"; font-weight : 500;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/LeagueSpartanBold.ttf"); font-family : "League Spartan"; font-weight : 700;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/MontserratRomanMedium.ttf"); font-family : "Montserrat"; font-weight : 500;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/LeagueSpartanRegular.ttf"); font-family : "League Spartan"; font-weight : 400;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/LeagueSpartanSemiBold.ttf"); font-family : "League Spartan"; font-weight : 600;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/MontserratRomanSemiBold.ttf"); font-family : "Montserrat"; font-weight : 600;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/MontserratRomanRegular.ttf"); font-family : "Montserrat"; font-weight : 400;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/MontserratRomanBold.ttf"); font-family : "Montserrat"; font-weight : 700;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/InterRegular.ttf"); font-family : "Inter"; font-weight : 400;  }